<%# <h1>About Page</h1>
<p>This is the about page content.</p> %>

<%= render 'shared/header' %>

<!-- about.html.erb -->
<div class="container">
  <h3>About Us</h3>
  <%= sanitize(@about_page.content) %>
</div>
