<%# <h1>Contact Page</h1>
<p>This is the contact page content.</p> %>


<div class="container">
  <%= sanitize(@contact_page.content) %>
</div>

<div class="mt-4"> <a href="#" class="btn btn-primary me-3"><i class="fab fa-facebook-f"></i></a> <a href="#" class="btn btn-primary me-3"><i class="fab fa-instagram"></i></a> <a href="#" class="btn btn-primary"><i class="fab fa-twitter"></i></a> </div> </div>

