
<%= render 'shared/header' %>

<p class="text-success"><%= notice %></p>

<br>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

<div class="container">
  <%= sanitize(@contact_page.content) %>
</div>

<div>

<div class="social-icons">
  <a href="#" class="btn btn-link"><i class="bi bi-facebook"></i></a>
  <a href="#" class="btn btn-link"><i class="bi bi-instagram"></i></a>
  <a href="#" class="btn btn-link"><i class="bi bi-twitter"></i></a>
</div>

</div>