<div id="<%= dom_id product_color %>">
  <p>
    <strong>Product:</strong>
    <%= product_color.product_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= product_color.color_id %>
  </p>

</div>
