<!-- <h1>Detalles del elemento del carrito</h1>
<p>ID: <%= @cart_item['product_id'] %></p>
<p>Nombre del producto: <%= @cart_item['product_name'] %></p>
<p>Cantidad: <%= @cart_item['quantity'] %></p>
<p>Precio: <%= @cart_item['price'] %></p>
