<h1>Detalles del elemento del carrito</h1>



<% if @cart_items.any? %>
  <ul>
    <% @cart_items.each do |item| %>
      <li>
        Nombre del producto: <%= item['product_name'] %>
        Cantidad: <%= item['quantity'] %>
        Precio: <%= item['price'] %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No hay productos en el carrito.</p>
<% end %>
