<% if @cart_items.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
        <% product = Product.find_by(id: item['product_id']) %>
        <% next unless product %>
        <tr>
          <td><%= product.name %></td>
          <td><%= item['quantity'] %></td>
          <td><%= number_to_currency(item['price'].to_f) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No hay productos en el carrito.</p>
<% end %>
