<h1>Checkout</h1>

<% if @checkout_data[:gst].present? %>
  <h2>Taxes:</h2>
  <p>GST: <%= number_to_currency(@checkout_data[:gst]) %></p>
  <p>PST: <%= number_to_currency(@checkout_data[:pst]) %></p>
  <p>HST: <%= number_to_currency(@checkout_data[:hst]) %></p>
<% end %>

<h2>Total with Taxes: <%= number_to_currency(@checkout_data[:total_amount_with_taxes]) %></h2>
